<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodio:menu</title>
    
    <link rel="stylesheet" href="/stylesheets/menu.css">

</head>
<body>
    <div class="nav">
        <div id="nav1">
            <i class="ri-menu-3-line"></i>
            <!-- <img src="images/logo.png" alt=""> -->
        </div>
        <div id="nav2">
            <a href="/home"><h3>Home</h3></a>
            <a href="/menu"><h3>Menu</h3></a>
        <a href=""><h3>Service</h3></a>
        <a href="/categories"><h3>categories</h3></a>
    </div>
    
</div>


    <div class="menu-container">
        <h1 id="heading">Your Inspiration For Today's Order </h1>
       <section >

           <div class="menu-grid">
               <div class="dish-card">
                   <img src="/images/biryani.jpg" alt="Chiken Biryani" class="dish-image">
                   <div class="dish-title">Chiken Biryani</div>
                   <div class="dish-description">Fresh chicken are marinated in a mixture of freshly ground BBK spices & layered with long grain basmati rice in the handi.</div>
                   <div class="dish-price">₹499</div>
                   <a href="/order" class="order-button">Order</a>
             
                   <button><i class="ri-shopping-bag-line"></i></button>
               </div>
               
               <div class="dish-card">
                   <img src="/images/rasmalai.jpg" alt="" class="dish-image">
                   <div class="dish-title">Rasmalai</div>
                   <div class="dish-description">A healthier version of the traditional Indian dessert Rasmalai, made without added sugar.</div>
                   <div class="dish-price">₹75</div>
                   <a href="/order" class="order-button">Order</a>
             
                   <button><i class="ri-shopping-bag-line"></i></button>
               </div>
               
               <div class="dish-card">
                   <img src="/images/chole kulche.jpg" alt="Dish 3" class="dish-image">
                   <div class="dish-title">Chole Kulche</div>
                   <div class="dish-description">A North Indian delight featuring spicy chickpea curry (chana) paired with soft, fluffy kulcha bread. A hearty and flavorful combination.</div>
                   <div class="dish-price">₹120(For extra kulcha ₹20)</div>
                   <a href="/order" class="order-button">Order</a>
             
                   <button><i class="ri-shopping-bag-line"></i></button>
               </div>
               
               <div class="dish-card">
                   <img src="/images/thali.jpg" alt="Dish 4" class="dish-image">
                   <div class="dish-title">Veg thali</div>
                   <div class="dish-description">A veg thali is a traditional Indian meal platter that includes a variety of vegetarian dishes offering a balanced and diverse selection of flavors and textures.</div>
                   <div class="dish-price">₹200</div>
                   <a href="/order" class="order-button">Order</a>
             
                   <button><i class="ri-shopping-bag-line"></i></button>
               </div>
           </div>
           <div id="gap">

               <div class="menu-grid">
                   <div class="dish-card">
                       <img src="/images/butter-chicken.jpg" alt="Dish 1" class="dish-image">
                       <div class="dish-title">Butter Chiken</div>
                <div class="dish-description">Butter chicken is prepared with marinated chicken that's first grilled and then served in a rich gravy made with tomato, butter, cream and a special spices.</div>
                <div class="dish-price">₹250</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/12.-Grilled-Paneer.jpg" alt="" class="dish-image">
                <div class="dish-title">Paneer Tikka</div>
                <div class="dish-description">Savor the tangy indulgence of our achari paneer tikka succulent paneer marinated with zesty pickling spices, tandoor grilled to perfection, delivering a burst of flavors.</div>
                <div class="dish-price">₹329</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/shahi panner.jpg" alt="Dish 3" class="dish-image">
                <div class="dish-title">Shahi Paneer</div>
                <div class="dish-description">A Shahi Paneer thali features the classic creamy Shahi Paneer curry made with paneer and an assortment of traditional Indian side dishes.</div>
                <div class="dish-price">₹299</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/mmalaikofta.jpg" alt="Dish 4" class="dish-image">
                <div class="dish-title">Malai Kofta</div>
                <div class="dish-description">A Malai Kofta thali features creamy paneer and vegetable dumplings in a rich tomato-cream sauce, served with rice, roti, dal, and other vegetarian sides.</div>
                <div class="dish-price">₹250</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
        </div>
        </div>
       </section>
       <h1 id="heading">Would you like to have quick Snacks??</h1>
       <section >

        <div class="menu-grid">
            <div class="dish-card">
                <img src="/images/vadapav.jpg" alt="Chiken Biryani" class="dish-image">
                <div class="dish-title">Chiken Biryani</div>
                <div class="dish-description">Fresh chicken are marinated in a mixture of freshly ground BBK spices & layered with long grain basmati rice in the handi.</div>
                <div class="dish-price">₹499</div>
             

                  <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/rasmalai.jpg" alt="" class="dish-image">
                <div class="dish-title">Rasmalai</div>
                <div class="dish-description">A healthier version of the traditional Indian dessert Rasmalai, made without added sugar.</div>
                <div class="dish-price">₹75</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/chole kulche.jpg" alt="Dish 3" class="dish-image">
                <div class="dish-title">Chole Kulche</div>
                <div class="dish-description">A North Indian delight featuring spicy chickpea curry (chana) paired with soft, fluffy kulcha bread. A hearty and flavorful combination.</div>
                <div class="dish-price">₹120(For extra kulcha ₹20)</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
            
            <div class="dish-card">
                <img src="/images/thali.jpg" alt="Dish 4" class="dish-image">
                <div class="dish-title">Veg thali</div>
                <div class="dish-description">A veg thali is a traditional Indian meal platter that includes a variety of vegetarian dishes offering a balanced and diverse selection of flavors and textures.</div>
                <div class="dish-price">₹200</div>
                <a href="/order" class="order-button">Order</a>
             
                <button><i class="ri-shopping-bag-line"></i></button>
            </div>
        </div>
        <div id="gap">

            <div class="menu-grid">
                <div class="dish-card">
                    <img src="/images/butter-chicken.jpg" alt="Dish 1" class="dish-image">
                    <div class="dish-title">Butter Chiken</div>
             <div class="dish-description">Butter chicken is prepared with marinated chicken that's first grilled and then served in a rich gravy made with tomato, butter, cream and a special spices.</div>
             <div class="dish-price">₹250</div>
             <a href="/order" class="order-button">Order</a>
             
             <button><i class="ri-shopping-bag-line"></i></button>
         </div>
         
         <div class="dish-card">
             <img src="/images/12.-Grilled-Paneer.jpg" alt="" class="dish-image">
             <div class="dish-title">Paneer Tikka</div>
             <div class="dish-description">Savor the tangy indulgence of our achari paneer tikka succulent paneer marinated with zesty pickling spices, tandoor grilled to perfection, delivering a burst of flavors.</div>
             <div class="dish-price">₹329</div>
             <a href="/order" class="order-button">Order</a>
             
             <button><i class="ri-shopping-bag-line"></i></button>
         </div>
         
         <div class="dish-card">
             <img src="/images/shahi panner.jpg" alt="Dish 3" class="dish-image">
             <div class="dish-title">Shahi Paneer</div>
             <div class="dish-description">A Shahi Paneer thali features the classic creamy Shahi Paneer curry made with paneer and an assortment of traditional Indian side dishes.</div>
             <div class="dish-price">₹299</div>
             <a href="/order" class="order-button">Order</a>
             
             <button><i class="ri-shopping-bag-line"></i></button>
         </div>
         
         <div class="dish-card">
             <img src="/images/mmalaikofta.jpg" alt="Dish 4" class="dish-image">
             <div class="dish-title">Malai Kofta</div>
             <div class="dish-description">A Malai Kofta thali features creamy paneer and vegetable dumplings in a rich tomato-cream sauce, served with rice, roti, dal, and other vegetarian sides.</div>
             <div class="dish-price">₹250</div>
             <a href="/order" class="order-button">Order</a>
            
             <button><i class="ri-shopping-bag-line"></i></button>
         </div>
     </div>
     </div>
    </section>
    </div>
   
</body>

</html>